@import url(https://fonts.google.com/specimen/Roboto);
body
{
    padding: 0;
    margin: 0;
    background-color: rgb(240, 235, 255);
    min-width: 320px;
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: auto auto;
}


/* хедер */
.header
{
    background-color: black;
    color: rgb(240, 235, 255);
    grid-column-start: span 2;
}
.header__heading
{
    background-color: black;
    padding-top: 1em;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 1em;
}



/* футер */
.footer
{
    grid-column-start: 1;
    grid-column-end: 3;
    color: white;
    background-color: black;
}

.footer__heading
{
    padding-bottom: 1em;
    text-align: center;
    margin: 0;
}



/* боковая панель */
.aside
{
    background-color: black;
    color: white;
    display: grid;
    grid-template-rows: 30em 30em;
    grid-template-columns: 1em;
    justify-content: start;
}

.soc__seti1
{
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 0.5em;
    font-weight: bold;
    padding-top: 4em;
    padding-bottom: 4em;
}

.soc__seti1:visited
{
    color: white;
}

.soc__seti1:hover
{
    background-color: white;
    color: blue;
}

.soc__seti2
{
    text-decoration: none;
    background-color: white;
    color: orange;
    padding: 0.5em;
    font-weight: bold;
    padding-top: 4em;
    padding-bottom: 4em;
    
}

.soc__seti2:visited
{
    color: orange;
}

.soc__seti2:hover
{
    color: white;
    background-color: orange;
}

.aside__item
{
    text-align: center;
    width: 100%;
    align-self: center;
}


/* блок 1 */
.block2
{
    display: grid;
    grid-template-columns: 30% 20% 20% auto;
    grid-template-rows: auto;
    grid-gap: 10px 10px;
    margin-left: 5%;
    padding: 1%;
    width: 88%;
    background-color: rgb(89, 97, 105);
    grid-auto-flow: row;
}

.block__heading
{
    text-align: center;
    width: 100%;
    margin-top: 1em;
    display: block;
}

.block__block
{
    background-color: white;
    font-size: 1em;
    margin: 0;
}

.block__block__img
{
    margin-top: 1em;
    width: 80%;
    margin-left: 10%;
}

.block__block__text
{
    width: 100%;
    text-align: center;
    margin-bottom: 1.5em;
}

.item21
{
    align-self: start;
}

.item22
{
    align-self: center;
}

.item23
{
    align-self: end;
}

.item24
{
    align-self: stretch;
}



/* блок 2*/
.block3
{
    display: grid;
    grid-template-columns: 25%;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px 10px;
    margin-left: 5%;
    padding: 1%;
    width: 88%;
    background-color: rgb(89, 97, 105);
    grid-auto-flow: column;
    justify-content: center;
    margin-bottom: 1em;
}