@import url(https://fonts.google.com/specimen/Roboto);
body
{
    padding: 0;
    margin: 0;
    background-color: rgb(240, 235, 255);
    min-width: 320px;
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: auto auto;
}


/* хедер */
.header
{
    background-color: black;
    color: rgb(240, 235, 255);
    grid-column-start: span 2;
}
.header__heading
{
    background-color: black;
    padding-top: 1em;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 1em;
}



/* футер */
.footer
{
    grid-column-start: 1;
    grid-column-end: 3;
    color: white;
    background-color: black;
}

.footer__heading
{
    padding-bottom: 1em;
    text-align: center;
    margin: 0;
}



/* боковая панель */
.aside
{
    background-color: black;
    color: white;
    display: grid;
    grid-template-rows: 30em 30em;
    grid-template-columns: 1em;
    justify-content: start;
}

.soc__seti1
{
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 0.5em;
    font-weight: bold;
    padding-top: 4em;
    padding-bottom: 4em;
}

.soc__seti1:visited
{
    color: white;
}

.soc__seti1:hover
{
    background-color: white;
    color: blue;
}

.soc__seti2
{
    text-decoration: none;
    background-color: white;
    color: orange;
    padding: 0.5em;
    font-weight: bold;
    padding-top: 4em;
    padding-bottom: 4em;
    
}

.soc__seti2:visited
{
    color: orange;
}

.soc__seti2:hover
{
    color: white;
    background-color: orange;
}

.aside__item
{
    text-align: center;
    width: 100%;
    align-self: center;
}



/* форма */
.block1
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    width: 88%;
    margin-left: 5%;
    background-color: rgb(89, 97, 105);
    color: white;
    font-weight: bolder;
    padding: 1%;
    grid-gap: 10px 10px;
}

#name:focus, #surname:focus, #email:focus, #password:focus
{
    outline: none;
    background-color: white;
}

#name, #surname, #email, #password
{
    width: 80%;
    margin-left: 10%;
    box-sizing: border-box;
    background-color: slategray;
    outline: none;
}

.label
{
    text-align: center;
}

.block__password
{
    grid-column: 2/3;
}

.block__button
{
    grid-column-start: 1;
    grid-column-end: 4;
}

.button:focus
{
    outline: none;
    background-color: white;
    color: rgb(0, 0, 0);
}

.button
{
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.313);
    border: none;
    box-shadow: none;
    font-weight: bolder;
}



/* галерея */
.gallery
{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto auto;
    margin-left: 5%;
    padding: 1%;
    width: 88%;
    background-color: rgb(89, 97, 105);
    justify-content: space-evenly;
    align-items: end;
}

.gallery__block8
{
    grid-column: 3/4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.gallery__img
{
    width: 100%;
}



/* блок 1 */
.block2
{
    display: grid;
    grid-template-columns: 30% 20% 20% auto;
    grid-template-rows: auto;
    grid-gap: 10px 10px;
    margin-left: 5%;
    padding: 1%;
    width: 88%;
    background-color: rgb(89, 97, 105);
    grid-auto-flow: row;
}

.block__heading
{
    text-align: center;
    width: 100%;
    margin-top: 1em;
    display: block;
}

.block__block
{
    background-color: white;
    font-size: 1em;
    margin: 0;
}

.block__block__img
{
    margin-top: 1em;
    width: 80%;
    margin-left: 10%;
}

.block__block__text
{
    width: 100%;
    text-align: center;
    margin-bottom: 1.5em;
}

.item21
{
    align-self: start;
}

.item22
{
    align-self: center;
}

.item23
{
    align-self: end;
}

.item24
{
    align-self: stretch;
}



/* блок 2 */
.block3
{
    display: grid;
    grid-template-columns: 25%;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 10px 10px;
    margin-left: 5%;
    padding: 1%;
    width: 88%;
    background-color: rgb(89, 97, 105);
    grid-auto-flow: column;
    justify-content: center;
    margin-bottom: 1em;
}



/* блок 4 */
.block4
{
    display: grid;
    grid-gap: 10px 10px;
    margin-left: 5%;
    padding: 1%;
    width: 88%;
    background-color: rgb(89, 97, 105);
    margin-bottom: 1em;
}

.block4__block, .block5__block
{
    width: 40%;
    background-color: white;
    font-size: 1em;
    margin: 0;
}

.item41
{
    justify-self: start;
}

.item42
{
    justify-self: center;
}

.item43
{
    justify-self: end;
}

.item44
{
    justify-self: stretch;
}



/* блок 5 */
.block5
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px 10px;
    margin-left: 5%;
    padding: 1%;
    width: 88%;
    background-color: rgb(89, 97, 105);
    margin-bottom: 1em;
    height: 30em;
}



/* блок 6*/
.block6
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px 10px;
    margin-left: 5%;
    padding: 1%;
    width: 88%;
    background-color: rgb(89, 97, 105);
    margin-bottom: 1em;
    height: 30em;
    justify-items: center;
    align-items: end;
}

.block6__block
{
    width: 100%;
    font-size: 1em;
    margin: 0;
    background-color: white;
}